<?php
<h1>My first web page</h1>
// {% set foo = 'foo' %}
// {{ foo }}
<div class="some-txt">
// <h1>hello {{name_shweta.aa}}!</h1>
// <div>welcome {{name_shweta.sss}}!</div>
<table>
<tr>
<td>{{name_shweta.aa}}</td>
<td>{{name_shweta.sss}}</td>
</tr>
</table>
</div>

<div class="books">
{{content.field_book_edition}}
</div>